/build-01_HelloQt-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-04_mac_hello_ffmpeg-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-05_signal_and_slot-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-06_diy_signal_and_slot-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-08_record_audio-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-09_record_audio_sub_thread-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-10_sdl_play_pcm-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-11_sdl_play_pcm-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-12_pcm_to_wav-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-13_audio_resample-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-14_sdl_play_wav-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-15_record_audio_wav-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-16_aac_encode-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-17_aac_decode-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-19_sdl_show_bmp-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-20_sdl_show_bmp_change_target-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-21_sdl_show_yuv-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-25_yuv_player_qt-Desktop_arm_darwin_generic_mach_o_64bit-Debug
