/build-01_HelloQt-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-04_mac_hello_ffmpeg-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-05_signal_and_slot-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-06_diy_signal_and_slot-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-08_record_audio-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-09_record_audio_sub_thread-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-10_sdl_play_pcm-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-11_sdl_play_pcm-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-12_pcm_to_wav-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-13_audio_resample-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-25_yuv_player_qt-Desktop_arm_darwin_generic_mach_o_64bit-Debug
